@{ 
    ViewBag.Title = "AboutMe";
}

<div class="articleMain">
    <img src="~/Content/Image/15 - 1.jpg" />
    <h1 style="text-align:center;">Обо Мне</h1>
    <p style="text-align:center;">
        Исиносукэ Увано (яп. 上野 石之助, родился в октябре 1922 года в префектуре Ивате) — японский солдат,
        попавший в советский плен в 1945 году и проживший в СССР и на Украине большую часть своей жизни.
        В 2006 году впервые после войны встретился со своими японскими родственниками, которые считали его погибшим с 2000 года.
    </p>
    <div class="clear"></div>
</div>
