@{
    ViewBag.Title = "CopyRight";
}

<div class="articleMain">
    <h1 style="text-align:center;">Правообладателям</h1>
    <p style="text-align:center;">
        Википедия, интернет-энциклопедия с открытым содержимым, является добровольным сообществом личностей и групп, создающих общее хранилище человеческих знаний.
        Её строение позволяет любому, кто имеет доступ к Интернету и браузер, изменять её содержание.
        Поэтому, пожалуйста, примите во внимание, что приведённые здесь сведения могут быть не проверенными профессионалами,
        обладающими знаниями в соответствующих областях, необходимыми для предоставления вам полной, точной или заслуживающей доверия информации о любом понятии в Википедии.
        <br />
        <br />
        Нельзя сказать, что в Википедии не так уж много полезной и точной информации, однако вы должны сознавать, что Википедия не может никаким способом гарантировать правильность приведённых в ней данных.
        Во время прочтения они могли быть только что изменены, испорчены, либо написаны тем, чьё мнение отличается от общепринятого в области знаний, интересующей вас.
        <br />
        <br />
        Мы ищем пути проверки и отбора вызывающих наибольшее доверие версий статей, но мы не можем ничего гарантировать.
        Наше наибольшее достижение — это избранные участниками статьи, но даже они могли быть испорчены или искажены кем-то за несколько мгновений до прочтения вами.
        <br />
        <br />
        Никто из авторов, участников, спонсоров, администраторов, операторов и лиц, как-либо ещё связанных с Википедией,
        не несёт ответственность за появление неточной или ложной информации, а также за использование вами данных,
        содержащихся на этих веб-страницах либо найденных по ссылкам с них.
        Пожалуйста, примите во внимание, что вся информация, находящаяся здесь, предоставлена свободно, как акт доброй воли,
        без заключения каких-либо договорённостей или договоров между вами и владельцами или пользователями данного сайта,
        владельцами серверов, на которых он размещён, авторами Википедии, администраторами проекта, операторами либо кем-то ещё,
        любым образом связанными с этим или родственными ему проектами, которые [договоры] могут стать предметом прямых претензий.
        Вам предоставляется ограниченное право копировать содержимое этого сайта — данное право не предусматривает и не подразумевает никакой договорной или иной ответственности за любую часть Википедии или её агентов,
        участников, организаторов или других пользователей.
        <br />
        <br />
        Любые торговые марки, знаки и названия товаров, служб и организаций, права на дизайн, авторские и смежные права, которые упоминаются,
        используются или цитируются в статьях, принадлежат их законным владельцам. Их использование здесь не даёт вам право на любое другое использование,
        кроме предусмотренного авторами статей Википедии в соответствии со схемой лицензирования Creative Commons Attribution/Share-Alike.
        Если не указано иное, Википедия и сайты Фонда Викимедиа никак не связаны с правообладателями, и поэтому Википедия не может распоряжаться правами на использование материалов, защищённых авторским правом.
        Вы несёте ответственность за использование этих и подобных материалов.
        <br />
        <br />
        Обратите внимание, что чтение, распространение или изменение информации, размещённой в Википедии,
        может являться нарушением законов той страны, в которой вы просматриваете этот сайт. Википедия не призывает к нарушению никаких законов,
        но так как информация сохраняется на серверах, расположенных в США, мы пользуемся правами,
        предоставленными всем Первой поправкой к конституции США и принципами Универсальной декларации прав человека ООН.
        Законы вашей страны могут трактовать защиту свободы слова не так широко,
        как законы США или Хартия ООН — в этом случае Википедия не несёт ответственности за любые потенциальные нарушения этих законов вами при создании ссылок на этот сайт или другом использовании любой содержащейся здесь информации.
        <br />
        <br />
        Если вам нужен совет специалиста (например, в области медицины, права, финансов или управления рисками), пожалуйста, обратитесь к профессионалам,
        имеющим лицензию и знания в данной области.
        Прочтите соответствующие предупреждения: Вы пользуетесь Википедией на свой страх и риск!
        — Википедия не дает медицинских советов — Википедия не дает юридических заключений — Содержимое Википедии может вызвать у вас протест.
        Несмотря на то, что пользователи могут исправлять ошибки или убирать ошибочные суждения, они не обязаны этого делать.
        Поэтому вся информация предоставляется без гарантии полезности для любой цели либо пригодности к какому-либо использованию.
        Википедия не может нести ответственность за любой нанесённый ущерб, так как является добровольным сообществом,
        свободно организованным для создания открытых образовательных, культурных и информационных ресурсов.
        Информация предоставляется как акт доброй воли и не существует соглашения или акта о намерениях между вами и Википедией относительно использования или изменения информации,
        не предусмотренного лицензией Creative Commons Attribution/Share-Alike.
        Также никто в Википедии не несёт ответственности за изменение, редактирование или удаление любой информации,
        добавленной вами в Википедию или другие связанные с ней проекты.
        <br />
        <br />
        Спасибо, что потратили своё время на чтение этой страницы. Желаем вам получить только приятные впечатления от пользования Википедией.
    </p>
    <div class="clear"></div>
</div>